:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1.5rem;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  font-family: inherit;
  background: none;
  border: 1px solid black;
  text-transform: uppercase;
  padding: 5px 15px;
  font-size: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  &:hover {
    background-color: black;
    color: white;
  }

  &:disabled {
    border: none;
    background-color: rgba(235, 232, 232, 0.795);
  }
}

p {
  padding: 0;
  margin: 0px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-container {
  padding: 20px 0px;
}

